{{!-- 头部静态文件 --}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>代码自动构建工具</title>

{{stylesheet 'css/style.css'}} 
{{stylesheet 'static/gallery/element/element.css'}} 
{{script 'static/common/dom'}} 
{{script 'static/common/icons'}}
{{script 'static/gallery/vue/vue.min'}} 
{{script 'static/gallery/element/element'}} 
{{script 'static/gallery/axios/axios'}} 
{{component-scripts}}
{{script 'app'}}